.mainPage {
    display: flex;
    background-color: #e2ecf9b7;
}
.pageWrapper {
    width: 100%;

    .customTab {
        margin-top: 1.5rem;
        display: flex;
        justify-content: space-between;
    }

    .selectBox {
        margin-bottom: 1.5rem;
        display: flex;

        .item {
            margin-right: 1.5rem;
        }
    }
}
